---
- name: Update pip & related tools
  pip:
    name:
      - pip
      - setuptools
      - wheel
      - attrs
      - importlib-metadata
      - packaging
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_wireguard_python }}"
    virtualenv_site_packages: true
    virtualenv_command: "{{ openwisp2_wireguard_virtualenv_command }}"
  retries: 5
  delay: 10
  register: result
  until: result is success
  notify: reload supervisor

- name: Copy requirements.txt
  copy:
    src: requirements.txt
    dest: "{{ openwisp2_wireguard_path }}/requirements.txt"

- name: Install Python dependencies
  pip:
    requirements: "{{ openwisp2_wireguard_path }}/requirements.txt"
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_wireguard_python }}"
    virtualenv_site_packages: true
    virtualenv_command: "{{ openwisp2_wireguard_virtualenv_command }}"
  notify: reload supervisor
  retries: 5
  delay: 10
  register: result
  until: result is success
