---

- name: "[CentOS7] Set virtualenv command"
  set_fact:
    openwisp2_wireguard_virtualenv_command: "virtualenv-3"
  when: ansible_distribution == 'CentOS' and ansible_distribution_major_version == "7"

- name: Update pip & related tools
  pip:
    name:
      - pip
      - setuptools
      - wheel
      - attrs
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_wireguard_python }}"
    virtualenv_site_packages: true
    virtualenv_command: "{{ openwisp2_wireguard_virtualenv_command }}"
  retries: 5
  delay: 10
  register: result
  until: result is success
  notify: reload supervisor

- name: Install Flask and uWSGI
  pip:
    name:
      - "Flask~=1.1.0"
      - "uwsgi~=2.0.19"
    state: latest
    virtualenv: "{{ virtualenv_path }}"
    virtualenv_python: "{{ openwisp2_wireguard_python }}"
    virtualenv_site_packages: true
    virtualenv_command: "{{ openwisp2_wireguard_virtualenv_command }}"
  notify: reload supervisor
  retries: 5
  delay: 10
  register: result
  until: result is success
