---
- name: Create "{{ openwisp_group }}" group
  group:
    name: "{{ openwisp_group }}"
    state: present

- name: Create "{{ openwisp_user }}" user
  user:
    name: "{{ openwisp_user }}"
    shell: /sbin/nologin
    state: present
    group: "{{ openwisp_user }}"

- name: Add sudo permissions for Wireguard and Network Manager commands
  ansible.builtin.template:
    src: "sudoers.d/openwisp_user"
    dest: /etc/sudoers.d/{{ openwisp_group }}
    mode: 0440
