---

- name: Create "{{ openwisp2_wireguard_path }}/ssl"
  file:
    path: "{{ openwisp2_wireguard_path }}/ssl"
    state: directory
    mode: 0770
    group: "{{ openwisp_group }}"

- name: Create SSL cert if not exists yet
  become: true
  become_user: root
  command: >
    openssl req -new -nodes -x509 \
    -subj "/C={{ openwisp2_wireguard_ssl_country }}/ST={{ openwisp2_wireguard_ssl_state }} \
           /L={{ openwisp2_wireguard_ssl_locality }}/O={{ openwisp2_wireguard_ssl_organization }} \
           /CN={{ openwisp2_wireguard_ssl_common_name }}" \
    -days 3650 \
    -keyout {{ openwisp2_wireguard_ssl_key }} \
    -out {{ openwisp2_wireguard_ssl_cert }} \
    -extensions v3_ca creates={{ openwisp2_wireguard_ssl_cert }}
  args:
    warn: false
  tags: [ssl]

- name: uwsgi.ini
  notify: reload supervisor
  template:
    src: flask/uwsgi.ini
    dest: "{{ openwisp2_wireguard_path }}/uwsgi.ini"
    group: "{{ openwisp_group }}"
    mode: 0754
  tags: [flask]
