---

name: Ansible WireGuard OpenWISP CI Build

on:             # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build ${{ matrix.distro }}
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        include:
          - distro: ubuntu2004
            ansible_interpreter: /usr/bin/python3
          - distro: ubuntu2204
            ansible_interpreter: /usr/bin/python3
          - distro: debian11
            ansible_interpreter: /usr/bin/python3

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install python dependencies
        run: |
          pip install -U pip wheel setuptools
          pip install molecule molecule-plugins[docker] yamllint ansible-lint docker
          pip install openwisp-utils[qa]

      - name: Install Ansible Galaxy dependencies
        run: ansible-galaxy collection install "community.general:>=3.6.0"

      - name: QA checks
        run: |
          openwisp-qa-check --skip-isort --skip-flake8 --skip-checkmigrations --skip-black

      - name: Tests
        run: molecule test
        env:
          ROLE_NAME: openwisp2
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          ANSIBLE_PYTHON_INTERPRETER: ${{ matrix.ansible_interpreter }}
